@import "animations";
@import "transitions";

@import "components/tooltip";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #e74c3c !important;
  #app {
    font-family: 'Open Sans', sans-serif;
    .main-container {
      background: #efefef;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      .main {
        flex: 1;
      }
    }
  }
}

.head {
  width: 100%;
  height: 40px;
  background: #fff;
  .title {
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
    float: left;
  }
  ul.actions {
    float: right;
    list-style: none;
    height: 40px;
    margin: 0;
    padding: 0;
    li {
      width: 40px;
      height: 40px;
      display: inline-block;
      a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #333;
        font-size: 18px;
        &:hover {
          background: rgba(0, 0, 0, 0.02);
        }
        button {
          border: 0 none;
          outline: 0 none;
          background: transparent;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.body {
  padding: 10px;
}