@base: #c0392b;
@base-lighter: ligthen(@base, 10);
@base-light: lighten(@base, 5);
@base-dark: darken(@base, 5);
@base-darker: darken(@base, 10);

.menu {
  overflow: hidden;
  > ul > li:hover > a, > ul > li.active > a {
    background: rgba(0, 0, 0, 0.0625);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.main {
      border-bottom: 1px solid #c0392b;
    }
    li {
      position: relative;
      a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-top: 1px solid #c0392b;
        font-size: 14px;
        span {
          margin: 0 5px 0 0;
          width: 15px;
        }
      }
      i.icon {
        position: absolute;
        top: 13px;
        right: 13px;
        color: darken(#c0392b, 5);
      }
      > ul {
        li {
          &.active a, &:hover a {

          }
          a {
            padding-left: 30px;
          }
          > ul {
            li {
              a {
                padding-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}